appdirs
black
canvasapi
certifi
cfgv
chardet
click
distlib
filelock
flake8
identify
idna
importlib-metadata
mccabe
mypy
mypy-extensions
nodeenv
pathspec
pre-commit
pycodestyle
pyflakes
pytz
PyYAML
regex
requests
six
toml
typed-ast
typing-extensions
urllib3
virtualenv
zipp
